{% extends 'accounts/main.html' %}
{% block title %} Dashboard {% endblock title %}
   {% block content %}
<br>
<br>
<br>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center">
			  	<div class="card-header">
			  		<h4 class="card-title">Total Users</h4>
			  	</div>
			  	<div class="card-body">
			    	<h1 class="card-title"><font color="blue">{{total_users}}</font></h1> <font color="grey">Users</font>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center">
			  	<div class="card-header">
			  		<h4 class="card-title">Total Submitted Comments</h4>
			  	</div>
			  	<div class="card-body">
			    	<h1 class="card-title"><font color="blue">{{total_comments}}</font></h1> <font color="grey">Comments</font>
			  	</div>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="card text-center">
						<div class="card-header">
			  				<h4 class="card-title">Total Positive</h4>
			  			</div>
			  			<div class="card-body">
			  				<h1 class="card-title"><font color="green">{{total_po}}%</font></h1><font color="grey">out of total {{total_comments}} comments</font>

			  			</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center">
						<div class="card-header">
			  				<h4 class="card-title">Total Negative</h4>
			  			</div>
			  			<div class="card-body">
			  				<h1 class="card-title"><font color="red">{{total_neg}}%</font></h1> <font color="grey">out of total {{total_comments}} comments</font>
			  				
			  			</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center">
						<div class="card-header">
			  				<h4 class="card-title">Total Neutral</h4>
			  			</div>
			  			<div class="card-body">
			  				<h1 class="card-title"><font color="orange">{{total_neu}}%</font></h1> <font color="grey">out of total {{total_comments}} comments</font>
			  				
			  			</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center">
			  	<div class="card-header">
			  		<h3 class="card-title">Users Information: </h3>
			  	</div>
			  	<div class="card-body">
			  			     {% if users.has_previous %}
			                  <a href="?page2=1" class="btn btn-outline-info btn-sm">&laquo; first</a>
			                  <a href="?page2={{ users.previous_page_number }}" class="btn btn-outline-info btn-sm">previous</a>
              				{% endif %}

                			<span class="current">
                    			<a class="btn btn-sm btn-secondary" disabled >Page {{ users.number }} of {{ users.paginator.num_pages }}</a>
                			</span>

				              {% if users.has_next %}
				                  <a href="?page2={{ users.next_page_number }}" class="btn btn-outline-info btn-sm">next</a>
				                  <a href="?page2={{ users.paginator.num_pages }}" class="btn btn-outline-info btn-sm">last &raquo;</a>
				              {% endif %}
				              <br>
			    	<table class="table table-sm table-striped table-hover">
						<tr>
							<th>Users ID: </th>
							<th>Username: </th>
							<th>Last Login: (Date/Time)</th>
						</tr>
						{% for user in users %}
						
						<tr>

							<td>{{user.id}}</td>
							<td>{{user.username}}</td>
							<td>{{user.last_login}}</td>
						</tr>
						{% endfor %}

					</table>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center">
			  	<div class="card-header">
			  		<h3 class="card-title">Users Sentiment Results: </h3>
			  	</div>
			  	<div class="card-body">

	                  		{% if comments.has_previous %}
			                  <a href="?page=1" class="btn btn-outline-info btn-sm">&laquo; first</a>
			                  <a href="?page={{ comments.previous_page_number }}" class="btn btn-outline-info btn-sm">previous</a>
              				{% endif %}

                			<span class="current">
                    			<a class="btn btn-sm btn-secondary" disabled >Page {{ comments.number }} of {{ comments.paginator.num_pages }}</a>
                			</span>

				              {% if comments.has_next %}
				                  <a href="?page={{ comments.next_page_number }}" class="btn btn-outline-info btn-sm">next</a>
				                  <a href="?page={{ comments.paginator.num_pages }}" class="btn btn-outline-info btn-sm">last &raquo;</a>
				              {% endif %}
				              <br>
			    	<table class="table table-sm table-striped table-hover">
						<tr>
							<!-- <th>No.</th> -->
							<th>Username: </th>
							<th>Sentiment Results: </th>
							<th>Song Name: </th>
							<th>Artist Name: </th>
						</tr>
						{% for comment in comments %}
						<tr>
							<!-- <td>{{ forloop.counter }}</td> -->
							<td>{{comment.usr}}</td>
							<td><b>{{comment.sentiment_result}}</b></td>
							<td><a href ="{% url 'music_profile' comment.song.id %}">{{comment.song.Song_name}}</a></td>
							<td>{{comment.song.artist_name}}</td>
						</tr>
						{% endfor %}

					</table>
			  	</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>

   {% endblock %}


