{% extends 'accounts/main.html' %}
{% block title %} Music {% endblock title %}
{% load static %}

{% block content %}
<br>
<br>

<h3><p><b>Are you sure you want to delete the sentiment records?</b> <br> </h3>
	<h5>Comments: <u>"{{records}}"</u></h5><br>
	<p><b>All of the following related items will be deleted:</b></p>

<form action="{% url 'delete_record' records.id %}" method="POST">
	{% csrf_token %}
	<button class="btn btn-info" ><a href="{% url 'records' %}"> Cencel</a></button>

	<button class="btn btn-warning" type="submit" name="confirm">Submit</button>

</form>


{% endblock content %}