{% extends 'accounts/main.html' %}
{% block title %} Music {% endblock title %}
{% load static %}
{% block SearchBar %}
          <br><center><h3>Search the Artist here! For 10 latest songs!</h3> 
            <form method="POST">
              {% csrf_token %} 
                <input name="artist" placeholder="Artist Name..." aria-label="Search" required>
                  <i class="fas fa-search" aria-hidden="true"></i>
          </form></center><br>
              {% if cat %}
                    <div class="row">
                      {% for x in cat %}
                      <div class="col-sm-2">
                          <h7><a href="#" >#{{x.artist_name}}</a></h7>
                      </div>
                      {% endfor %}
                    </div>
              {% endif %}
              </div><hr>
{% endblock SearchBar %}

{% block content %}

      {% if db_results %}
      <div class="row">
          {% for x in db_results %}
          <div class="col-sm-4">
            <div class="box-element music">
              <img src="{{x.Song_image}}" width="250px", height="250px"><hr>
              <h3><strong>{{x.Song_name}}</strong></h3>
              <h5>{{x.artist_name}}</h5>
              <a href="{{x.Song_preview}}"><button type="button" class="btn btn-outline-warning">PLAY SONG</button></a>
                <a href ="{% url 'music_profile' x.id %}"><button class="btn btn-outline-info">Left Comments</button></a>
            </div>
            <br>
          </div>
          {% endfor %}
      </div>
      {% endif %}

     {% if filter_results %}
      <div class="row">
          {% for x in filter_results %}
          <div class="col-sm-4">
            <div class="box-element music">
              <img src="{{x.Song_image}}" width="250px", height="250px"><hr>
              <h3><strong>{{x.Song_name}}</strong></h3>
              <h5>{{x.artist_name}}</h5>
              <a href="{{x.Song_preview}}"><button type="button" class="btn btn-outline-warning">PLAY SONG</button></a>
                <a href ="{% url 'music_profile' x.id %}"><button class="btn btn-outline-info">Left Comments</button></a>
            </div>
            <br>
          </div>
          {% endfor %}
      </div>
      <center>
          {% if filter_results.has_previous %}
              <a href="?page=1" class="btn btn-outline-info">&laquo; first</a>
              <a href="?page={{ filter_results.previous_page_number }}" class="btn btn-outline-info">previous</a>
          {% endif %}
          <span class="current">
              <a class="btn btn-secondary" disabled >Page {{ filter_results.number }} of {{ filter_results.paginator.num_pages }}</a>
          </span>
          {% if filter_results.has_next %}
              <a href="?page={{ filter_results.next_page_number }}" class="btn btn-outline-info">next</a>
              <a href="?page={{ filter_results.paginator.num_pages }}" class="btn btn-outline-info">last &raquo;</a>
          {% endif %}
    </center><br><br><br>
      {% endif %}

{% endblock content %}




<!--     {% if results %}
    <div class="container">
    	<div class="row">
    	{% for x in results %}
    	
    		<div class="col">
    			<ol class="list-group mt-1">
      				<li class="list-group-item bg-info text-center"><h3 class="text-white" >{{x.name}}</h3></li>
     				<li class="list-group-item" ><a href='{{x.preview_url}}'><button type="button" class="btn btn-success btn-lg mt-1">PLAY SONG</button></a></li>
      				<li class="list-group-item"><img src="{{x.album.images.0.url}}" class="img-fluid img-thumbnail" alt=""></li>
    			</ol>
			</div><hr>
    	{% endfor %}
    	</div>
    </div>
    {% endif %} -->


 