{% extends 'accounts/main.html' %}
{% block title %} Recommendation {% endblock title %}

   {% block content %}

<div class="container-fluid">
<br>
<br>
<br>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="card-header">
					  	<h4 class="card-title">New Music</h4>
					</div> 
					<div class="card-body">
					  		{% if just_updated_song %}
					  			<div class="row">
					  				{% for x in just_updated_song %}
										<div class="col-sm-3">
						            		<div class="box-element music">
						              			<a href ="{% url 'music_profile' x.id %}"><img src="{{x.Song_image}}" width="250px", height="250px"></a>
						              			<h3><strong>{{x.Song_name}}</strong></h3>
						              			<h5>{{x.artist_name}}</h5>
						            		</div>
						            			<br>
						          		</div>
						          	{% endfor %}
						      	</div>
						    {% endif %}
					</div>
					      <center>
					          {% if just_updated_song.has_previous %}
					              <a href="?page=1" class="btn btn-outline-info">&laquo; first</a>
					              <a href="?page={{ just_updated_song.previous_page_number }}" class="btn btn-outline-info">previous</a>
					          {% endif %}
					          <span class="current">
					              <a class="btn btn-secondary" disabled >Page {{ just_updated_song.number }} of {{ just_updated_song.paginator.num_pages }}</a>
					          </span>
					          {% if just_updated_song.has_next %}
					              <a href="?page={{ just_updated_song.next_page_number }}" class="btn btn-outline-info">next</a>
					              <a href="?page={{ just_updated_song.paginator.num_pages }}" class="btn btn-outline-info">last &raquo;</a>
					          {% endif %}
    						</center>
				</div>
			</div>
		</div>
	</div>
<br>
<br>
<br>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="card-header">
					  	<h4 class="card-title">Sounds of the '70s - '80s</h4>
					</div>
					<div class="card-body">
					  		{% if sounds_of_7080s %}
					  			<div class="row">
					  				{% for x in sounds_of_7080s %}
										<div class="col-sm-3">
						            		<div class="box-element music">
						              			<a href ="{% url 'music_profile' x.id %}"><img src="{{x.Song_image}}" width="250px", height="250px"></a>
						              			<h3><strong>{{x.Song_name}}</strong></h3>
						              			<h5>{{x.artist_name}}</h5>
						            		</div>
						            			<br>
						          		</div>
						          	{% endfor %}
						      	</div>
						    {% endif %}
					</div>
							<center>
					          {% if sounds_of_7080s.has_previous %}
					              <a href="?page2=1" class="btn btn-outline-info">&laquo; first</a>
					              <a href="?page2={{ sounds_of_7080s.previous_page_number }}" class="btn btn-outline-info">previous</a>
					          {% endif %}
					          <span class="current">
					              <a class="btn btn-secondary" disabled >Page {{ sounds_of_7080s.number }} of {{ sounds_of_7080s.paginator.num_pages }}</a>
					          </span>
					          {% if sounds_of_7080s.has_next %}
					              <a href="?page2={{ sounds_of_7080s.next_page_number }}" class="btn btn-outline-info">next</a>
					              <a href="?page2={{ sounds_of_7080s.paginator.num_pages }}" class="btn btn-outline-info">last &raquo;</a>
					          {% endif %}
    						</center>
				</div>
			</div>
		</div>
	</div>
<br>
<br>
<br>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="card-header">
					  	<h4 class="card-title">What songs the others feeling Positive</h4>
					</div>
					<div class="card-body">
					  		{% if others_liked_songs %}
					  			<div class="row">
					  				{% for x in others_liked_songs %}
										<div class="col-sm-3">
						            		<div class="box-element music">
						              			<a href ="{% url 'music_profile' x.song.id %}"><img src="{{x.song.Song_image}}" width="250px", height="250px"></a>
						              			<h3><strong>{{x.song.Song_name}}</strong></h3>
						              			<h5>{{x.song.artist_name}}</h5>
						            		</div>
						            			<br>
						          		</div>
						          	{% endfor %}
						          	{% else %}
						          		There's no others songs...
						      	</div>
						    {% endif %}
					</div>
							<center>
					          {% if others_liked_songs.has_previous %}
					              <a href="?page3=1" class="btn btn-outline-info">&laquo; first</a>
					              <a href="?page3={{ others_liked_songs.previous_page_number }}" class="btn btn-outline-info">previous</a>
					          {% endif %}
					          <span class="current">
					              <a class="btn btn-secondary" disabled >Page {{ others_liked_songs.number }} of {{ others_liked_songs.paginator.num_pages }}</a>
					          </span>
					          {% if others_liked_songs.has_next %}
					              <a href="?page3={{ others_liked_songs.next_page_number }}" class="btn btn-outline-info">next</a>
					              <a href="?page3={{ others_liked_songs.paginator.num_pages }}" class="btn btn-outline-info">last &raquo;</a>
					          {% endif %}
    						</center>
				</div>
			</div>
		</div>
	</div>
<br>
<br>
<!-- <br>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="card-header">
					  	<h4 class="card-title">About Your Positive Feeling</h4>
					</div>
					<div class="card-body">
					  		{% if positive_comm %}
					  			<div class="row">
					  				{% for x in positive_comm %}
										<div class="col-sm-3">
						            		<div class="box-element music">
						              			<a href ="{% url 'music_profile' x.song.id %}"><img src="{{x.song.Song_image}}" width="250px", height="250px"></a>
						              			<h3><strong>{{x.song.Song_name}}</strong></h3>
						              			<h5>{{x.song.artist_name}}</h5>
						            		</div>
						            			<br>
						          		</div>
									{% endfor %}
						          	{% else %}
						      
						              			<h3>You do not have any Submitted comments...</h3>
						            		
						            			<br>
						          		</div>
						          	
						      	</div>
						    

						    {% endif %}
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br> -->

		<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="card-header">
					  	<h4 class="card-title">Your Liked Songs</h4>
					</div>
					<div class="card-body">
					  		{% if user_liked_songs %}
					  			<div class="row">
					  				{% for x in user_liked_songs %}
										<div class="col-sm-3">
						            		<div class="box-element music">
						              			<a href ="{% url 'music_profile' x.id %}"><img src="{{x.Song_image}}" width="250px", height="250px"></a>
						              			<h3><strong>{{x.Song_name}}</strong></h3>
						              			<h5>{{x.artist_name}}</h5>
						            		</div>
						            			<br>
						          		</div>
									{% endfor %}
						          	{% else %}
						      
						              			<h3>You do not have any Liked Songs...</h3>
						            		
						            			<br>
						          		</div>
						          	
						      	
						    

						    {% endif %}
						    </div>
						    <center>
					          {% if user_liked_songs.has_previous %}
					              <a href="?page4=1" class="btn btn-outline-info">&laquo; first</a>
					              <a href="?page4={{ user_liked_songs.previous_page_number }}" class="btn btn-outline-info">previous</a>
					          {% endif %}
					          <span class="current">
					              <a class="btn btn-secondary" disabled >Page {{ user_liked_songs.number }} of {{ user_liked_songs.paginator.num_pages }}</a>
					          </span>
					          {% if user_liked_songs.has_next %}
					              <a href="?page4={{ user_liked_songs.next_page_number }}" class="btn btn-outline-info">next</a>
					              <a href="?page4={{ user_liked_songs.paginator.num_pages }}" class="btn btn-outline-info">last &raquo;</a>
					          {% endif %}
    						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

   {% endblock %}

