{% extends 'accounts/main.html' %}
{% block title %} Recommendation {% endblock title %}

   {% block content %}

<div class="container-fluid">
<br>
<br>
<br>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="card-header">
					  	<h4 class="card-title">New Music</h4>
					</div>
					<div class="card-body">
					  		{% if just_updated_song %}
					  			<div class="row">
					  				{% for x in just_updated_song %}
										<div class="col-sm-3">
						            		<div class="box-element music">
						              			<a href ="{% url 'music_profile' x.id %}"><img src="{{x.Song_image}}" width="250px", height="250px"></a>
						              			<h3><strong>{{x.Song_name}}</strong></h3>
						              			<h5>{{x.artist_name}}</h5>
						            		</div>
						            			<br>
						          		</div>
						          	{% endfor %}
						      	</div>
						    {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
<br>
<br>
<br>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="card-header">
					  	<h4 class="card-title">Sounds of the '70s - '80s</h4>
					</div>
					<div class="card-body">
					  		{% if sounds_of_7080s %}
					  			<div class="row">
					  				{% for x in sounds_of_7080s %}
										<div class="col-sm-3">
						            		<div class="box-element music">
						              			<a href ="{% url 'music_profile' x.id %}"><img src="{{x.Song_image}}" width="250px", height="250px"></a>
						              			<h3><strong>{{x.Song_name}}</strong></h3>
						              			<h5>{{x.artist_name}}</h5>
						            		</div>
						            			<br>
						          		</div>
						          	{% endfor %}
						      	</div>
						    {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
<br>
<br>
<br>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="card-header">
					  	<h4 class="card-title">What songs the others feeling positive</h4>
					</div>
					<div class="card-body">
					  		{% if others_liked_songs %}
					  			<div class="row">
					  				{% for x in others_liked_songs %}
										<div class="col-sm-3">
						            		<div class="box-element music">
						              			<a href ="{% url 'music_profile' x.song.id %}"><img src="{{x.song.Song_image}}" width="250px", height="250px"></a>
						              			<h3><strong>{{x.song.Song_name}}</strong></h3>
						              			<h5>{{x.song.artist_name}}</h5>
						            		</div>
						            			<br>
						          		</div>
						          	{% endfor %}
						          	{% else %}
						          		There's no others songs...
						      	</div>
						    {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
<br>
<br>
<br>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="card-header">
					  	<h4 class="card-title">About Your Positive Feeling</h4>
					</div>
					<div class="card-body">
					  		{% if positive_comm %}
					  			<div class="row">
					  				{% for x in positive_comm %}
										<div class="col-sm-3">
						            		<div class="box-element music">
						              			<a href ="{% url 'music_profile' x.song.id %}"><img src="{{x.song.Song_image}}" width="250px", height="250px"></a>
						              			<h3><strong>{{x.song.Song_name}}</strong></h3>
						              			<h5>{{x.song.artist_name}}</h5>
						            		</div>
						            			<br>
						          		</div>
									{% endfor %}
						          	{% else %}
						      
						              			<h3>You do not have any Submitted comments...</h3>
						            		
						            			<br>
						          		</div>
						          	
						      	</div>
						    

						    {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

   {% endblock %}

