{% extends 'accounts/main.html' %}
{% block title %} Records {% endblock title %}

   {% block content %}
					<br>
					<br>
   <div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="card text-center">
					  	<div class="card-header">
					  		<h4 class="card-title">Total Positive Comments</h4>
					  	</div>
					  	<div class="card-body">
					    	<h1 class="card-title"><font color="green">{{positive_count}}</font></h1>
					  	</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center">
					  	<div class="card-header">
					  		<h4 class="card-title">Total Negative Comments</h4>
					  	</div>
					  	<div class="card-body">
					    	<h1 class="card-title"><font color="red">{{negative_count}}</font></h1>
					  	</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center">
					  	<div class="card-header">
					  		<h4 class="card-title">Total Neutral Comments</h4>
					  	</div>
					  	<div class="card-body">
					    	<h1 class="card-title"><font color="orange">{{neutral_count}}</font></h1>
					  	</div>
					</div>
				</div>
			</div>
					<br>
					<br>
			<div class="row">
				<div class="col-md-12">
					<div class="card text-center">
						<div class="card-header">
							<h4 class="card-title">Filtering: </h4>
						</div>
						<div class="card-body">
							<form method="get">
								{{comment_filters.form}}
								<button class="btn btn-primary" type="submit">Search</button>
							</form>
						</div>
					</div>
				</div>
				<p><p>
				<div class="col-md-12">
					<div class="card text-center">
					  	<div class="card-header">
					  		<h4 class="card-title">Commented History: </h4>
					  	</div>
					  	<div class="card-body">
							 <table class="table table-sm table-striped table-hover">
								<tr>
									<th>Artist Name: </th>
									<th>Song Name: </th>
									<th>Song Comments: </th>
									<th>Sentiment Result: </th>
									<!-- <th>Sentiment Polarity: </th>
									<th>Sentiment Subjectivity: </th> -->
									<th>Create Date: (Date/Time) </th>
									<th>Remove </th>

									
									
								</tr>
								{% for x in specific_comments %}
								
								<tr>
									<td>{{x.song.artist_name}}</td>
									<td><a href ="{% url 'music_profile' x.song.id %}">{{x.song.Song_name}}</a></td>
									<td>{{x.song_comments}}</td>
									<td>{{x.sentiment_result}}</td>
									<!-- <td>{{x.sentiment_polarity}}</td>
									<td>{{x.sentiment_subjectivity}}</td> -->
									<td>{{x.date_created}}</td>

									<td><a class="btn btn-sm btn-danger" href="{% url 'delete_record' x.id %}">Delete</a></td>
									
								</tr>
								{% endfor %}

							</table>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>

   {% endblock %}
	


